<?xml version="1.0"?>
<robot name="LiDAR" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- LiDAR -->
  <link name="lidar_link">
    <visual>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi}" />
      <geometry>
        <mesh filename="package://manmaru_description/meshes/lidar.stl" scale="0.0002 0.0002 0.0002"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi}" />
      <geometry>
        <mesh filename="package://manmaru_description/meshes/lidar.stl" scale="0.0002 0.0002 0.0002"/>
      </geometry>
    </collision>

    <xacro:default_inertial mass="0.1"/>
  </link>

  <joint name="lidar_on_trunk" type="fixed">
    <origin xyz="0.04 -0.007 0.015" rpy="0 0 0"/>
    <parent link="trunk"/>
    <child link="lidar_link"/>
  </joint>

</robot>