<?xml version="1.0"?>
<robot name="LiDAR" xmlns:xacro="http://ros.org/wiki/xacro">

   <link name="lidar_link">
      <visual>
         <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi}" />
         <geometry>
            <mesh filename="package://manmaru_description/meshes/lidar.stl" scale="0.002 0.002 0.002"/>
         </geometry>
      </visual>
      <collision>
         <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi}" />
         <geometry>
            <mesh filename="package://manmaru_description/meshes/lidar.stl" scale="0.002 0.002 0.002"/>
         </geometry>
      </collision>
   </link>

   <joint name="lidar_on_base" type="fixed">
      <origin xyz="0.4 -0.075 0.15" rpy="0 0 0"/>
      <parent link="classis"/>
      <child link="lidar_link"/>
   </joint>

</robot>