<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find manmaru_description)/urdf/manmaru.urdf.xacro" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <env name="GAZEBO_RESOURCE_PATH" value="$(find lab7)"/>
        <!-- The world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <arg name="world_name" value="worlds/indoor.sdf" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
    </include>

    <!-- Parsing xacro and setting robot_description parameter -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <!-- Starting Joint state publisher node which will publish the joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <!-- Setting gui parameter to true for display joint slider -->
        <param name="use_gui" value="true" />
    </node>

    <!-- Starting robot state publish which will publish tf -->
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Spawn URDF-based robots into Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model manmaru -param robot_description -z 1.0" respawn="false" output="screen" />

    <!-- Launch visualization in rviz -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find manmaru_description)/urdf.rviz" required="true" /> -->
    <node name="rviz" pkg="rviz" type="rviz" />

</launch>