<?xml version="1.0" ?>
<model>
    <name>woodhouse</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Minghong Xu</name>
        <email>sgmxu9@liverpool.ac.uk</email>
    </author>
    <description>ELEC330 lab5 Gazebo building editor ttl.</description>
</model>
