<?xml version="1.0" ?>
<model>
    <name>Himemori Luna</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>ホロライブ</name>
        <email></email>
    </author>
    <description>ホロライブ所属タレント姫森ルーナの公式モデルです。This model is converted from the official MMD model by Minghong Xu.</description>
</model>
