<?xml version="1.0"?>
<launch>

    <arg name="model" default="$(find manmaru_description)/urdf/manmaru.urdf.xacro" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- Parsing xacro and setting robot_description parameter -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <!-- Starting robot state publish which will publish tf -->
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Spawn URDF-based robots into Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model manmaru -param robot_description -z 1.0" respawn="false" output="screen" />

</launch>